{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}
{% block stylesheets %}
    <style>
        #calendrier{
            width: 80%;
            margin: auto;

        }
    </style>
{% endblock %}
{% block body %}
    <br>
    <button onclick="window.location.href = 'http://127.0.0.1:8000/tache/new';" class="btn btn-light">
    <span jsslot="" class="I3EnF oJeWuf"><span class="NlWrkb snByac"><span class="VfUPr"><div class="Gw6Zhc"><svg width="36" height="36" viewBox="0 0 36 36"><path fill="#34A853" d="M16 16v14h4V20z"></path><path fill="#4285F4" d="M30 16H20l-4 4h14z"></path><path fill="#FBBC05" d="M6 16v4h10l4-4z"></path><path fill="#EA4335" d="M20 16V6h-4v14z"></path><path fill="none" d="M0 0h36v36H0z"></path></svg></div><div class="mr0WL">Ajouter une tache </div></span></span></span>
    </button>
        <div id="calendrier">
 </div>

{% endblock %}
{%  block javascripts %}
    <script>
        window.onload = () => {
            let calendar = document.querySelector("#calendrier")
            console.log(JSON.parse(JSON.stringify('{{ data|json_encode|e("js") }}')));
            let calendarier = new FullCalendar.Calendar(calendar, {
                initialView : 'dayGridMonth',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: { center: 'dayGridMonth,timeGridWeek' }, // buttons for switching between views
                editable: true,
                eventResizableFromStart: true,
                events :
                    [
                        {% for tache in taches  %}
                        {

                            title  : '{{ tache.nom}}',
                            start  : '{{ tache.debut ? tache.debut|date('Y-m-d h:i:s')}}',
                            end : '{{ tache.fin ? tache.fin|date('Y-m-d h:i:s')}}',
                            color: '{{ tache.backgroundColor }}',
                            url : 'http://127.0.0.1:8000/tache/{{ tache.id }}/edit'
                        },
                        {

                        },
                        {

                        },
                        {% endfor %}
                        {
                            title : 'Toussaint',
                            start: '2023-11-01',
                            end : '2023-11-01',
                            description: 'jour férié ',
                            color : 'red'
                        },
                        {
                            title: {{ value|raw}},
                            start : {{ JoursFeries|raw}},
                            color : 'pink'
                        },
                        {
                            title: {{ value2|raw }},
                            start : {{ paques|raw }},
                            color : 'brown'
                        },
                        {
                            title : {{ Armistice2|raw }},
                            start : {{ Armistice|raw }},
                            color : 'golden'
                        },
                        {
                            title : {{ Noel2|raw }},
                            start : {{ Noel|raw }},
                            color : 'purple'
                        }

                ],
                eventClick: function(info) {
                    info.jsEvent.preventDefault(); // don't let the browser navigate

                    if (info.event.url) {
                        window.open(info.event.url);
                    }
                },
            })
            calendarier.render()
        }


    </script>
{% endblock %}
