{% extends 'base.html.twig' %}

{% block title %}Tache index{% endblock %}

{% block body %}
    <h1>Tache index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Description</th>
                <th>Background_color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td>{{ tache.id }}</td>
                <td>{{ tache.nom }}</td>
                <td>{{ tache.debut ? tache.debut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tache.fin ? tache.fin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tache.description }}</td>
                <td>{{ tache.backgroundColor }}</td>
                <td>
                    <a href="{{ path('app_tache_show', {'id': tache.id}) }}">show</a>
                    <a href="{{ path('app_tache_edit', {'id': tache.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tache_new') }}">Create new</a>
{% endblock %}
