{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}
{% block title %}Connexion
{% endblock %}
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}



        <!--Section: Demo-->

        <section class="pb-4 mt-5">
            <div class="bg-white border rounded-5" style="
              margin-inline: 32%;
">
    <div class="text-center">
    <h1> Connexion</h1>
    </div>
                <section class="w-100 p-4 d-flex justify-content-center pb-4">
                    <form action="{{ path('app_login') }}" method="post" class="row g-4" style="width: 22rem;">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="username"  style="margin-left: 0px;">Email address</label>
                            <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
                            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password"  style="margin-left: 0px;">Password</label>
                            <input type="password" id="password" name="_password" class="form-control">
                            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                                <!-- Checkbox -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked="">
                                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                                </div>
                            </div>

                            <div class="col">
                                <!-- Simple link -->
                                <a href="{{ path('app_forgot_password_request') }}">Forgot password?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>Not a member? <a href="{{ path('app_user_new') }}">Register</a></p>
                        </div>
                    </form>
                </section>


{% endblock %}