<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css"  >
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <!-- Navbar -->
        <div class="image-accueil">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIxChGyaDr507CMqGHiVkhEFmPnBYZpi-KcvLioyqyUbEV8iIdBfjMr74ESczUuj6VC_8&usqp=CAU'); background-size: 140px">
            <!-- Container wrapper -->
            <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand me-2" href="{{ path('app_calendar') }}">
                    <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFN1I42Bcd0xr5G2z9iu54P_TYd04vjhw5SQ&usqp=CAU"
                            height="60"
                            alt="MDB Logo"
                            loading="lazy"
                            style="margin-top: -1px;"
                    />
                </a>

                <!-- Toggle button -->
                <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarButtonsExample"
                        aria-controls="navbarButtonsExample"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>
                 <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        </li>
                    </ul>
                    <!-- Left links -->
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="d-flex align-items-center">
                        <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
                     {% else %}
                         <a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>
                         <a href="{{ path('app_user_new') }}" class="btn btn-success">Sign up</a>
                    </div>
                    {% endif %}
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        </div>
        <!-- Navbar -->
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js" integrity="sha256-alsi6DkexWIdeVDEct5s7cnqsWgOqsh2ihuIZbU6H3I=" crossorigin="anonymous"></script>
    </body>
</html>
